/*CSS do Header*/

body {
    padding: 0px;
    margin: 0px;
}

header {
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
}

nav h1 {
    text-align: center;
    color: rgb(0, 128, 250, 98);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 50px;
    /* margin: 25px; */

}

nav li {
    margin: 8px;
}

header ul li a {
    text-decoration: none;
    color: black;

}

header ul li a:hover {
    color: rgb(0, 128, 250, 98);
}

nav ul li button {
    background-color: rgb(0, 128, 250, 98);
    border: none;
    border-radius: 40px;
    width: 70px;
    height: 25px;
}

header ul li a button:hover {
    color: white;
}


/*CSS do Main*/

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

main .catalogo {
    width: 450px;
    height: 500px;
    margin: 5px;
    border: solid 1px black;
}

main .catalogo img {
    width: 450px;
    height: 270px;

}

main .catalogo p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

main .catalogo .compra {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;

}

ion-icon {
    width: 35px;
    height: 35px;
    margin: 10px;
    color: blue;

}

main .catalogo label {
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main .catalogo button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: green;
}

main .catalogo button:hover {
    color: white;
}

.player {
    /* display: flex;
    justify-content: center; */

}

.player video {
    width: 100%;
    /* Garante que o player ocupe toda a tela*/
    height: 600px;
    object-fit: cover;
    /* Garante que a altura aplicada no player seja aplicada sem distorção na proporção das medidas*/

}

section {
    padding: 60px;
}

.pages {
    display: flex;
    justify-content: center;
    gap: 30px
}

.pages a {
    text-decoration: none;
    color: black;
}

.pages a:hover {
    color: rgb(0, 128, 250, 98);
}

/* Footer */

footer {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    height: 300px;
    gap: 100px;
}
footer .sobre{
    display: flex;
    flex-direction: column;
}

footer .sobre h3{
    font-family: sans-serif;
}
/* footer .sobre .content-icons{} */

.content-icons .icons{
    display: flex;
}

.content-icons .icons ion-icon{
    color: black;
    width: 20px;
}
.content-icons .icons p{
    color: rgba(255, 255, 255, 0.582);
}

footer .produtos{
    display:flex;
    flex-direction:column;
    align-items: baseline;
    

}

footer .produtos h3{
    font-family: sans-serif;
}
footer .produtos a{
    text-decoration: none;
    margin: 10px;
    color:rgba(255, 255, 255, 0.582);
}
footer .produtos a:hover{
    text-decoration: underline;
}

footer .info{
    display: flex;
    flex-direction: column;
}
footer .info h3{
    font-family: sans-serif;
}
footer .info a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.582);
    margin: 10px;
}
footer .info a:hover{
    text-decoration: underline;
}
footer .iframe iframe{
    margin-left: 330px;
}

/* footer .ecopy{
    display: flex;
    flex-direction: column;
    color: white;
} */

