/*CSS do Header*/

body{
    padding: 0;
    margin: 0;
}
header a{
    text-decoration: none;
}
h1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0,128,250,98);
}
.navegação{
    position: relative;
    left: 1500px;
    bottom:65px;
    width: 75px;
    font-size: 25px;
    color:rgb(0,0,0);
    float: left;
    text-decoration:none;
    font-family:sans-serif;
}
.navegação:hover{
    color:rgb(0,128,250,98)
}
.butão{
    position: relative;
    left:1540px;
    bottom:65px;
    width:70px;
    height: 30px;
    background-color:rgb(0,128,250,98);
    color:white;
    border: none;
    border-radius: 15px;
}
.butão:hover{
    background-color: #0575E6;
}

/*CSS do Main*/

.filtro h2{
    font-size: 17px;
    text-align: center;
    color: rgb(0,0,0);
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;

}
main {
    margin: 5px;
    width: 300px;
    height: 700px;
     border: solid 2px;

}
.filtro{
    display: flex;
    flex-direction:column;
    float:left;
}


/**/

/*CSS do Footer*/

footer{
    position: relative;
    top: 800px;
    height: 730px;;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h2{
    color: rgb(0,128,250,98);;
    text-align: center;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;

}

address{
    display: flex;
    flex-direction:column;
    position: relative;
    top: 75px;
    margin: 10px;
    padding: 50px;
}
address img{
    width: 30px;
    padding: 10px;
    color: #0469C7;  
}
form{
    display: flex;
    flex-direction:column;
    position: relative;
    left: 780px;
    bottom: 250px;
    width: 350px;
    
}
form input{
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    border: solid 1px rgb(0,0,0);
}
iframe{
    position: relative;
}
textarea{
    position: relative;
    left: 10px;
    width: 325px;
    border: solid 1px rgb(0,0,0);
    border-radius: 5px;
}
form button{
    width: 130px;
    height: 35px;
    margin: 25px;
    border: none;
    border-radius:5px;
    color: white;
    background-color: rgb(0,128,250,98);
}
form button:hover{
    background-color: #0469C7;
}
.imagens{
    display: flex;
    justify-content: center;
    position: relative;
    left: 300px;
    bottom: 300px;
}
.imagens img{
    width: 40px;
    margin: 12px;
    border-radius:50%;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    position: relative;
    left: 300px;
    bottom: 310px;
}
section p{
    margin: 10px;
    font-size: 15px;
    text-align: center;
}


.mensage{
    text-align: center;
}
iframe{
    position: relative;
    bottom: 800px;
    margin: 20px;
    float: right;

}

/*Responsividade navigation*/
